[submodule "src/backyard/api/proto"]
	path = src/backyard/api/proto
	url = https://github.com/cyber-fighters/proto.git
[submodule "templates/scanner/example/src/backyard/api/proto"]
	path = templates/scanner/example/src/backyard/api/proto
	url = https://github.com/cyber-fighters/proto.git
[submodule "templates/analyzer/example/src/backyard/api/proto"]
	path = templates/analyzer/example/src/backyard/api/proto
	url = https://github.com/cyber-fighters/proto.git
[submodule "modules/scanner/theharvester/src/backyard/api/proto"]
	path = modules/scanner/theharvester/src/backyard/api/proto
	url = git@github.com:cyber-fighters/proto.git
[submodule "modules/analyzer/data_statistics/src/backyard/api/proto"]
	path = modules/analyzer/data_statistics/src/backyard/api/proto
	url = git@github.com:cyber-fighters/proto.git
